

<h1> Project SOCIABILI AND BCSS </h1>

<div>
  <a [routerLink]="['sociabili']"> SOCIABILI </a><br>

  <a [routerLink]="['bcss']"> BCSS </a>
</div>
<!--
<app-shared [labelProject]="'Shared Project Sociablili'"></app-shared>
<br>
<app-shared [labelProject]="'Shared Project BCSS'"></app-shared>


-->
<router-outlet></router-outlet>

 